<h2>Update Todo {{id}}</h2>
<div class="container">
  <div class="alert alert-warning" *ngIf="todoForm.dirty && todoForm.inValid">Enter
    Valid descripion</div>
  <div class="alert alert-warning" *ngIf="todoForm.dirty && targetDate.inValid">Enter
    Valid Target Date</div>
    <div class="alert alert-warning" *ngIf="todoForm.dirty && targetDate.inValid">Enter
      Valid Descriptioniv>
  <form (ngSubmit)="!todoForm.inValid && updateTodo()" #todoForm="ngForm">
    <fieldset class="form-group">
      <label>Description</label>
      <input type="text" [(ngModel)]="todo.descripion" #description="ngModel" class="form-control"
        name="Description" required="required" minlength="5">
    </fieldset>
    <fieldset class="form-group">
      <label>targetDate</label>
      <input type="Date" #targetDate="ngModel"
        [ngModel]="todo.targetDate | date:'yyyy-MM-dd'"
        (ngModelChange)="todo.targetDate=
        $event"
        class="form-control" name="targetDate" required="required">
    </fieldset>
    <button type="submit" class="btn btn-success">update</button>
  </form>
</div>