
<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">

    <div><a href="https://www.google.com" class="navbar-brand">Application</a>
    </div>
    <ul class="navbar-nav">
      <li><a *ngIf="hardcoded.isUserLogedIn()" routerLink="/welcome/intodo" class="nav-link">Home</a></li>
      <li><a *ngIf="hardcoded.isUserLogedIn()" routerLink="/todos" class="nav-link">TODO</a></li>
      <input type="text" (keyup)="getUserIdsFirstWay($event)"/>
      <datalist id="dynmicUserIds">
        <option *ngFor="let item of userList1" [value]="item">{{item}}</option>
      </datalist>
    </ul>
    <ul class="navbar-nav navbar-collapse justify-content-end">
      <li><a *ngIf="!hardcoded.isUserLogedIn()" routerLink="/login" class="nav-link">Login</a></li>
      <li><a *ngIf="hardcoded.isUserLogedIn()" routerLink="/logout" class="nav-link">Logout</a></li>
    </ul>

  </nav>

</header>