<h1> Welcome {{name}}</h1>

<div *ngIf="errormsg" class="container">
    <p>{{errormsg}}</p>
</div>
<div *ngIf="!errormsg">
    <div class="container">
        you can manager your todos by clicking <a routerLink="/todos"> here</a>
    </div>
    <div class="container">
        <h5>Click <button (click)="getWelcomeMessageParamter()" class="btn btn-success"> here </button> to get customize welcome
            message</h5>
    </div>
    <div *ngIf="customizewelcomemessage" class="container">
        <h4>Your Customize welcome message <p>{{customizewelcomemessage}}</p>
        </h4>
    </div>
</div>